{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Планировщик задач</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="user-info">
                <span>{{ request.user.username }}</span>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn">Выйти</button>
                </form>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="menu">
            <h2>Списки</h2>
            <ul>
                {% for project in incomplete_projects %}
                    <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'add_project' %}" class="btn btn-add">Добавить проект</a>
        </div>
    </div>
    <div class="content">
        <div class="projects">
            <div class="incomplete-projects">
                <h1>Незавершённые проекты</h1>
                <ul class="project-list">
                    {% for project in incomplete_projects %}
                        <li>
                            <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="completed-projects">
                <h1>Завершённые проекты</h1>
                <ul class="project-list">
                    {% for project in completed_projects %}
                        <li>
                            <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>